/* Style the tab buttons */
@font-face {
    font-family: 'Axiforma';
    src: url('./Assets/Fonts/Axiforma-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal text */
    font-style: normal;
}

/* 2. ITALIC */
@font-face {
    font-family: 'Axiforma';
    src: url('./Assets/Fonts/Axiforma-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* 3. MEDIUM (Great for sub-headers or tabs) */
@font-face {
    font-family: 'Axiforma';
    src: url('./Assets/Fonts/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

/* 4. SEMIBOLD */
@font-face {
    font-family: 'Axiforma';
    src: url('./Assets/Fonts/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* 5. BOLD (Perfect for main H1 titles) */
@font-face {
    font-family: 'Axiforma';
    src: url('./Assets/Fonts/Axiforma-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}


body{
    font-family: 'Axiforma', sans-serif;
}

html{
    scroll-snap-type: y mandatory;
}

section{
    height:100vh;
    scroll-snap-align: start;
}

.hero{
    background-color: greenyellow;
}

.portfolio{
    background-color: red;
}

.about-me{
    background-color: grey;
}

.projects{
    background-color: aquamarine;
}

.contacts{
    background-color: yellow;
}


.tab-menu {
    margin-bottom: 20px;
}

.tab-btn {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Change background color of active tab */
.tab-btn.active {
    background-color: #ddd;
    font-weight: bold;
}

/* Hide tab content by default */
.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Show the active tab content */
.tab-content.active {
    display: block;
}